In [20]:
import glob
import os
import pandas as pd
from datetime import date, timedelta
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"
dwl_path = "/Users/User/Downloads/"

# Directory to be monitored
directory = '/Users/User/Downloads'
# Dictionary of file categories and their extensions
categories = {
    'Images': ['jpeg', 'jpg', 'png'],
    'PDFs': ['pdf'],
    'Datasets': ['csv', 'xlsx', 'xls', 'json'],
    'Videos': ['mp4','m4a'],
    'Zips': ['zip'],
    'EXEs': ['exe', 'msi'],
    'Pythons': ['ipynb'],
}
pd.options.display.max_rows = 11
pd.options.display.float_format = '{:.2f}'.format

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 2, 16), datetime.date(2023, 2, 15))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
yesterday = yesterday.date()
print(f'yesterday: {yesterday}')

today: 2023-02-16
yesterday: 2023-02-15

In [3]:
colu = 'Date Prior Open High Low Close'.split()
vol = 'Total Volume (k.Shares)'
colu.append(vol)
colu

['Date', 'Prior', 'Open', 'High', 'Low', 'Close', 'Total Volume (k.Shares)']

In [4]:
file_name = "HistoricalTrading.xlsx"
input_file = dwl_path + file_name
df = pd.read_excel(input_file, header=28)
df

,Date,Prior,Open,High,Low,Close,Change,%Change,Average,Bid,...,%Dividend Yield,%12M Dividend Yield,Market Cap. (M.Baht),%Volume Turnover,ROI,Beta,Par (Baht),Listed Shares,Trading Sign,Benefit Sign
0,2023-02-15 00:00:04,32.25,32.25,32.50,30.50,30.75,-1.50,-4.65,31.36,30.75,...,3.71,3.71,16231.19,0.47,-,-,5.00,527843460.00,-,-
1,2023-02-14 00:00:04,32.75,32.75,33.00,32.00,32.25,-0.50,-1.53,32.27,32.00,...,3.53,3.53,17022.95,0.14,-,-,5.00,527843460.00,-,-
2,2023-02-13 00:00:04,32.50,32.50,33.00,32.50,32.75,0.25,0.77,32.69,32.50,...,3.48,3.48,17286.87,0.06,-,-,5.00,527843460.00,-,-
3,2023-02-10 00:00:04,32.75,33.00,33.00,32.50,32.50,-0.25,-0.76,32.60,32.50,...,3.51,3.51,17154.91,0.08,-,-,5.00,527843460.00,-,-
4,2023-02-09 00:00:04,32.50,32.50,32.75,32.25,32.75,0.25,0.77,32.49,32.50,...,3.48,3.48,17286.87,0.08,-,-,5.00,527843460.00,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,2018-01-04 00:00:04,21.61,21.70,21.88,21.70,21.79,0.18,0.84,21.77,21.70,...,5.83,-,8445.50,0.05,-,-,5.00,351895640.00,-,-
1245,2018-01-03 00:00:04,21.61,21.79,21.79,21.61,21.61,0.00,0.00,21.64,21.61,...,5.88,-,8375.12,0.07,-,-,5.00,351895640.00,-,-
1246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1247,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1248,- Bid/Offer price showed as ATC means the best...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.dropna()
df

,Date,Prior,Open,High,Low,Close,Change,%Change,Average,Bid,...,%Dividend Yield,%12M Dividend Yield,Market Cap. (M.Baht),%Volume Turnover,ROI,Beta,Par (Baht),Listed Shares,Trading Sign,Benefit Sign
0,2023-02-15 00:00:04,32.25,32.25,32.50,30.50,30.75,-1.50,-4.65,31.36,30.75,...,3.71,3.71,16231.19,0.47,-,-,5.00,527843460.00,-,-
1,2023-02-14 00:00:04,32.75,32.75,33.00,32.00,32.25,-0.50,-1.53,32.27,32.00,...,3.53,3.53,17022.95,0.14,-,-,5.00,527843460.00,-,-
2,2023-02-13 00:00:04,32.50,32.50,33.00,32.50,32.75,0.25,0.77,32.69,32.50,...,3.48,3.48,17286.87,0.06,-,-,5.00,527843460.00,-,-
3,2023-02-10 00:00:04,32.75,33.00,33.00,32.50,32.50,-0.25,-0.76,32.60,32.50,...,3.51,3.51,17154.91,0.08,-,-,5.00,527843460.00,-,-
4,2023-02-09 00:00:04,32.50,32.50,32.75,32.25,32.75,0.25,0.77,32.49,32.50,...,3.48,3.48,17286.87,0.08,-,-,5.00,527843460.00,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,2018-01-09 00:00:04,21.61,21.61,21.61,21.42,21.42,-0.18,-0.84,21.51,21.42,...,5.93,-,8304.74,0.12,-,-,5.00,351895640.00,-,-
1242,2018-01-08 00:00:04,21.70,21.70,21.70,21.51,21.61,-0.09,-0.42,21.60,21.51,...,5.88,-,8375.12,0.11,-,-,5.00,351895640.00,-,-
1243,2018-01-05 00:00:04,21.79,21.70,21.79,21.51,21.70,-0.09,-0.42,21.65,21.61,...,5.86,-,8410.31,0.10,-,-,5.00,351895640.00,-,-
1244,2018-01-04 00:00:04,21.61,21.70,21.88,21.70,21.79,0.18,0.84,21.77,21.70,...,5.83,-,8445.50,0.05,-,-,5.00,351895640.00,-,-
1245,2018-01-03 00:00:04,21.61,21.79,21.79,21.61,21.61,0.00,0.00,21.64,21.61,...,5.88,-,8375.12,0.07,-,-,5.00,351895640.00,-,-

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

# Convert the 'DateTime' column to a date type
df['Date'] = df['Date'].dt.date

C:\Users\User\AppData\Local\Temp/ipykernel_33292/3582372049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\User\AppData\Local\Temp/ipykernel_33292/3582372049.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].dt.date

In [7]:
df.insert(0, 'Symbol', 'ASK')
df

,Symbol,Date,Prior,Open,High,Low,Close,Change,%Change,Average,...,%Dividend Yield,%12M Dividend Yield,Market Cap. (M.Baht),%Volume Turnover,ROI,Beta,Par (Baht),Listed Shares,Trading Sign,Benefit Sign
0,ASK,2023-02-15,32.25,32.25,32.50,30.50,30.75,-1.50,-4.65,31.36,...,3.71,3.71,16231.19,0.47,-,-,5.00,527843460.00,-,-
1,ASK,2023-02-14,32.75,32.75,33.00,32.00,32.25,-0.50,-1.53,32.27,...,3.53,3.53,17022.95,0.14,-,-,5.00,527843460.00,-,-
2,ASK,2023-02-13,32.50,32.50,33.00,32.50,32.75,0.25,0.77,32.69,...,3.48,3.48,17286.87,0.06,-,-,5.00,527843460.00,-,-
3,ASK,2023-02-10,32.75,33.00,33.00,32.50,32.50,-0.25,-0.76,32.60,...,3.51,3.51,17154.91,0.08,-,-,5.00,527843460.00,-,-
4,ASK,2023-02-09,32.50,32.50,32.75,32.25,32.75,0.25,0.77,32.49,...,3.48,3.48,17286.87,0.08,-,-,5.00,527843460.00,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,ASK,2018-01-09,21.61,21.61,21.61,21.42,21.42,-0.18,-0.84,21.51,...,5.93,-,8304.74,0.12,-,-,5.00,351895640.00,-,-
1242,ASK,2018-01-08,21.70,21.70,21.70,21.51,21.61,-0.09,-0.42,21.60,...,5.88,-,8375.12,0.11,-,-,5.00,351895640.00,-,-
1243,ASK,2018-01-05,21.79,21.70,21.79,21.51,21.70,-0.09,-0.42,21.65,...,5.86,-,8410.31,0.10,-,-,5.00,351895640.00,-,-
1244,ASK,2018-01-04,21.61,21.70,21.88,21.70,21.79,0.18,0.84,21.77,...,5.83,-,8445.50,0.05,-,-,5.00,351895640.00,-,-
1245,ASK,2018-01-03,21.61,21.79,21.79,21.61,21.61,0.00,0.00,21.64,...,5.88,-,8375.12,0.07,-,-,5.00,351895640.00,-,-

In [10]:
df['Volume'] = (df['Total Volume (k.Shares)'] * 1000).astype(int)

C:\Users\User\AppData\Local\Temp/ipykernel_33292/3531931176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Volume'] = (df['Total Volume (k.Shares)'] * 1000).astype(int)

In [11]:
colp = 'Symbol Date Close High Low Volume Open'.split()
colp

['Symbol', 'Date', 'Close', 'High', 'Low', 'Volume', 'Open']

In [12]:
df[colp]

     Symbol        Date  Close  High   Low   Volume  Open
0       ASK  2023-02-15  30.75 32.50 30.50  2500112 32.25
1       ASK  2023-02-14  32.25 33.00 32.00   715070 32.75
2       ASK  2023-02-13  32.75 33.00 32.50   315216 32.50
3       ASK  2023-02-10  32.50 33.00 32.50   438805 33.00
4       ASK  2023-02-09  32.75 32.75 32.25   414178 32.50
...     ...         ...    ...   ...   ...      ...   ...
1241    ASK  2018-01-09  21.42 21.61 21.42   467283 21.61
1242    ASK  2018-01-08  21.61 21.70 21.51   440532 21.70
1243    ASK  2018-01-05  21.70 21.79 21.51   375088 21.70
1244    ASK  2018-01-04  21.79 21.88 21.70   192820 21.70
1245    ASK  2018-01-03  21.61 21.79 21.61   273960 21.79

[1246 rows x 7 columns]

In [13]:
file_name = "Price.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

df[colp].to_csv(output_file, header=True, index=False)
df[colp].to_csv(osd_file, header=True, index=False)

In [19]:
names = df['Symbol'].unique()
name = names[0]
name

'ASK'

In [21]:
sqlDel = """
DELETE
FROM price 
WHERE name = '%s' 
"""
sqlDel = sqlDel % (name)
print(sqlDel)

DELETE
FROM price
WHERE name = 'ASK'

In [22]:
rp = const.execute(sqlDel)
rp.rowcount

1638

In [23]:
%pwd

'C:\\Users\\User\\OneDrive\\A7\\Ad hoc'

In [24]:
os.chdir("C:\\users\\user\\onedrive\\a7")
%pwd

'C:\\users\\user\\onedrive\\a7'

In [25]:
#!importPrice.bat

^C

In [35]:
os.chdir("C:\\users\\user\\onedrive\\a7\\Ad hoc")
%pwd

'C:\\users\\user\\onedrive\\a7\\Ad hoc'

In [36]:
sql = """
SELECT *
FROM price 
where name = '%s'
"""
sql = sql % name
print(sql)

SELECT *
FROM price
where name = 'ASK'

In [37]:
df_tmp = pd.read_sql(sql, const)
df_tmp

     name        date  price  maxp  minp      qty  opnp
0     ASK  2018-01-03  21.61 21.79 21.61   273960 21.79
1     ASK  2018-01-04  21.79 21.88 21.70   192820 21.70
2     ASK  2018-01-05  21.70 21.79 21.51   375088 21.70
3     ASK  2018-01-08  21.61 21.70 21.51   440532 21.70
4     ASK  2018-01-09  21.42 21.61 21.42   467283 21.61
...   ...         ...    ...   ...   ...      ...   ...
1241  ASK  2023-02-09  32.75 32.75 32.25   414178 32.50
1242  ASK  2023-02-10  32.50 33.00 32.50   438805 33.00
1243  ASK  2023-02-13  32.75 33.00 32.50   315216 32.50
1244  ASK  2023-02-14  32.25 33.00 32.00   715070 32.75
1245  ASK  2023-02-15  30.75 32.50 30.50  2500112 32.25

[1246 rows x 7 columns]