In [1]:
import glob
import os
import pandas as pd
from datetime import date, timedelta
from pandas.tseries.offsets import *
from sqlalchemy import create_engine

data_path = "../data/"
dts_path = "/Users/User/Downloads/Datasets/"
osd_path = "\\Users\\User\\OneDrive\\Documents\\obsidian-git-sync\\Data\\"

# Directory to be monitored
directory = '/Users/User/Downloads'
# Dictionary of file categories and their extensions
categories = {
    'Images': ['jpeg', 'jpg', 'png'],
    'PDFs': ['pdf'],
    'Datasets': ['csv', 'xlsx', 'xls', 'json'],
    'Videos': ['mp4','m4a'],
    'Zips': ['zip'],
    'EXEs': ['exe', 'msi'],
    'Pythons': ['ipynb'],
}
pd.options.display.max_rows = 11
today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2023, 2, 3), datetime.date(2023, 2, 2))

In [2]:
# convert the timedelta object to a BusinessDay object
num_business_days = BDay(1)
yesterday = today - num_business_days
print(f'today: {today}')
yesterday = yesterday.date()
print(f'yesterday: {yesterday}')

today: 2023-02-03
yesterday: 2023-02-02

In [3]:
# Function to classify a file
def classify_file(filename):
    # Find the file extension
    extension = filename.split('.')[-1]

    # Iterate over the categories
    for category, extensions in categories.items():
        # If the extension matches one of the extensions in the category, move the file
        if extension in extensions:
            # Construct the file paths
            source_path = os.path.join(directory, filename)
            dest_path = os.path.join(directory, category, filename)

            # Move the file
            os.rename(source_path, dest_path)
            print(f'Moved {filename} to {category}')
            break

### Delete files in folder Datasets, if there is no file, error causes program to stop

In [ ]:
for filename in glob.glob(os.path.join(dts_path, '*.xlsx')):
    print(f'Delete {filename}')
    os.remove(filename)

### SET100, sSET, SETCLMV, SETHD, SETTHSI, SETWB, CONMAT, PFREIT, TRANS, ICT

In [7]:
# Classify all existing files in the directory
for filename in os.listdir(directory):
    classify_file(filename)

Moved StockQuotation (1).xlsx to Datasets
Moved StockQuotation (2).xlsx to Datasets
Moved StockQuotation (3).xlsx to Datasets
Moved StockQuotation (4).xlsx to Datasets
Moved StockQuotation (5).xlsx to Datasets
Moved StockQuotation (6).xlsx to Datasets
Moved StockQuotation (7).xlsx to Datasets
Moved StockQuotation (8).xlsx to Datasets
Moved StockQuotation (9).xlsx to Datasets
Moved StockQuotation.xlsx to Datasets

In [8]:
colu = 'Symbol Last High Low Change %Change Open'.split()
vol = 'Total Volume'
colu.append(vol)
colu

['Symbol', 'Last', 'High', 'Low', 'Change', '%Change', 'Open', 'Total Volume']

In [9]:
file_name = "StockQuotation.xlsx"
input_file = dts_path + file_name
df_S100 = pd.read_excel(input_file, header=8)
df_S100 = df_S100[df_S100['%Change'] != '-']
df_S100[colu].sort_values(['%Change'],ascending=[False])

    Symbol    Last    High     Low  Change   %Change    Open  Total Volume
90  TIDLOR   30.25   30.50   29.00    1.25  4.310345   29.25      32278657
29     CPN   74.75   75.50   73.00    2.75  3.819444   73.00      10958827
31   DELTA  950.00  950.00  916.00   34.00  3.711790  922.00       4281310
32  DOHOME   14.20   14.40   13.80    0.50  3.649635   13.80      17953368
44   HMPRO   14.90   14.90   14.40    0.50  3.472222   14.50      23586766
..     ...     ...     ...     ...     ...       ...     ...           ...
84     STA   22.30   22.70   22.20   -0.40 -1.762115   22.40       4951737
11     BCP   36.00   37.00   36.00   -0.75 -2.040816   36.75       8487723
70   PTTEP  166.00  169.50  164.50   -4.00 -2.352941  169.50      25486746
23     CHG    3.92    4.02    3.86   -0.10 -2.487562    4.02     111439706
86    STGT   11.10   11.60   11.00   -0.30 -2.631579   11.40      22059692

[100 rows x 8 columns]

In [10]:
file_name = "StockQuotation (1).xlsx"
input_file = dts_path + file_name
df_sSET = pd.read_excel(input_file, header=8)
df_sSET = df_sSET[df_sSET['%Change'] != '-']
df_sSET[colu].sort_values(['%Change'],ascending=[False])

     Symbol   Last   High    Low  Change   %Change   Open  Total Volume
74       PF   0.43   0.44   0.40    0.03  7.500000   0.40      85883030
102     SKY  23.00  23.00  18.40    1.20  5.504587  21.50      19491535
36      HFT   6.90   6.95   6.55    0.35  5.343511   6.55       2272034
69      NSL  24.20  24.20  23.10    1.10  4.761905  23.20       2841387
42      ILM  19.60  19.80  18.70    0.80  4.255319  18.80       3356812
..      ...    ...    ...    ...     ...       ...    ...           ...
100  SITHAI   1.68   1.73   1.67   -0.04 -2.325581   1.72      17529724
82   RABBIT   1.20   1.23   1.20   -0.03 -2.439024   1.23      20933505
68      NRF   5.95   6.15   5.95   -0.15 -2.459016   6.15       3294367
27    DEMCO   4.70   4.88   4.70   -0.12 -2.489627   4.82       3214306
63     MILL   0.79   0.82   0.78   -0.03 -3.658537   0.82      29381733

[144 rows x 8 columns]

In [11]:
file_name = "StockQuotation (2).xlsx"
input_file = dts_path + file_name
df_CLMV = pd.read_excel(input_file, header=8)
df_CLMV = df_CLMV[df_CLMV['%Change'] != '-']
df_CLMV[colu].sort_values(['%Change'],ascending=[False])

    Symbol    Last   High    Low  Change   %Change    Open  Total Volume
51   TASCO   18.10   18.2   17.7    0.40  2.259887   17.80       5955726
8      BGC   10.30   10.3   10.1    0.20  1.980198   10.20       1206705
20  GLOBAL   21.10   21.2   20.7    0.40  1.932367   20.80      11370359
41     RCL   30.75   31.0   30.5    0.50  1.652893   30.50       2057453
11     BJC   38.50   38.5   38.0    0.50  1.315789   38.50       2533532
..     ...     ...    ...    ...     ...       ...     ...           ...
47    SPRC   11.20   11.5   11.1   -0.20 -1.754386   11.40      20968905
5      BCP   36.00   37.0   36.0   -0.75 -2.040816   36.75       8487723
37   PTTEP  166.00  169.5  164.5   -4.00 -2.352941  169.50      25486746
49    STGT   11.10   11.6   11.0   -0.30 -2.631579   11.40      22059692
12     BPP   16.70   17.2   16.5   -0.50 -2.906977   17.10       3629943

[57 rows x 8 columns]

In [12]:
file_name = "StockQuotation (3).xlsx"
input_file = dts_path + file_name
df_HD = pd.read_excel(input_file, header=8)
df_HD = df_HD[df_HD['%Change'] != '-']
df_HD[colu].sort_values(['%Change'],ascending=[False])

    Symbol    Last    High     Low  Change   %Change    Open  Total Volume
11  INTUCH   73.75   74.00   72.75    0.75  1.027397   72.75       1837690
24    TCAP   43.25   43.25   43.00    0.25  0.581395   43.25        873185
0   ADVANC  198.50  198.50  197.00    1.00  0.506329  197.50       2401870
14      LH    9.95    9.95    9.80    0.05  0.505051    9.90      33158917
3      BCH   21.50   21.70   21.40    0.10  0.467290   21.50      12718266
..     ...     ...     ...     ...     ...       ...     ...           ...
4     BCPG   10.00   10.10    9.95   -0.10 -0.990099   10.10       3122417
29     WHA    3.98    4.02    3.94   -0.04 -0.995025    4.02      76099032
1       AP   12.00   12.20   11.80   -0.20 -1.639344   12.10      32643218
18   PTTEP  166.00  169.50  164.50   -4.00 -2.352941  169.50      25486746
6      CHG    3.92    4.02    3.86   -0.10 -2.487562    4.02     111439706

[30 rows x 8 columns]

In [13]:
file_name = "StockQuotation (4).xlsx"
input_file = dts_path + file_name
df_THSI = pd.read_excel(input_file, header=8)
df_THSI = df_THSI[df_THSI['%Change'] != '-']
df_THSI[colu].sort_values(['%Change'],ascending=[False])

   Symbol    Last    High     Low  Change   %Change    Open  Total Volume
32    CPN   74.75   75.50   73.00    2.75  3.819444   73.00      10958827
34  DELTA  950.00  950.00  916.00   34.00  3.711790  922.00       4281310
82     RS   17.40   17.40   17.00    0.60  3.571429   17.00      17689800
49  HMPRO   14.90   14.90   14.40    0.50  3.472222   14.50      23586766
38     EA   89.50   90.25   87.50    3.00  3.468208   87.50      25257481
..    ...     ...     ...     ...     ...       ...     ...           ...
15    BCP   36.00   37.00   36.00   -0.75 -2.040816   36.75       8487723
79  PTTEP  166.00  169.50  164.50   -4.00 -2.352941  169.50      25486746
68    NRF    5.95    6.15    5.95   -0.15 -2.459016    6.15       3294367
99   STGT   11.10   11.60   11.00   -0.30 -2.631579   11.40      22059692
24    BPP   16.70   17.20   16.50   -0.50 -2.906977   17.10       3629943

[119 rows x 8 columns]

In [14]:
file_name = "StockQuotation (5).xlsx"
input_file = dts_path + file_name
df_WB = pd.read_excel(input_file, header=8)
df_WB = df_WB[df_WB['%Change'] != '-']
df_WB[colu].sort_values(['%Change'],ascending=[False])

    Symbol   Last   High    Low  Change   %Change   Open  Total Volume
12  DOHOME  14.20  14.40  13.80    0.50  3.649635  13.80      17953368
14   HMPRO  14.90  14.90  14.40    0.50  3.472222  14.50      23586766
13  GLOBAL  21.10  21.20  20.70    0.40  1.932367  20.80      11370359
22     RCL  30.75  31.00  30.50    0.50  1.652893  30.50       2057453
4      BJC  38.50  38.50  38.00    0.50  1.315789  38.50       2533532
..     ...    ...    ...    ...     ...       ...    ...           ...
24  SINGER  28.25  28.75  28.00   -0.25 -0.877193  28.50       3563122
18    MEGA  51.25  52.00  51.25   -0.75 -1.442308  52.00       1374224
29   VIBHA   2.70   2.72   2.70   -0.04 -1.459854   2.70       1687039
25     STA  22.30  22.70  22.20   -0.40 -1.762115  22.40       4951737
7      CHG   3.92   4.02   3.86   -0.10 -2.487562   4.02     111439706

[30 rows x 8 columns]

In [15]:
file_name = "StockQuotation (6).xlsx"
input_file = dts_path + file_name
df_CONMAT = pd.read_excel(input_file, header=9)
df_CONMAT = df_CONMAT[df_CONMAT['%Change'] != '-']
df_CONMAT[colu].sort_values(['%Change'],ascending=[False])

   Symbol    Last    High     Low  Change   %Change    Open  Total Volume
0     CCP    0.43    0.43    0.42    0.01  2.380952    0.42        427879
14  TASCO   18.10   18.20   17.70    0.40  2.259887   17.80       5955726
11    SCP    5.10    5.15    5.05    0.05  0.990099    5.15         67400
15    TOA   34.75   35.00   33.75    0.25  0.724638   35.00        578033
17    UMI    1.56    1.57    1.52    0.01  0.645161    1.55        323900
..    ...     ...     ...     ...     ...       ...     ...           ...
10   SCCC  158.50  160.50  158.00   -1.00 -0.626959  160.50        192878
12    SKN    5.25    5.35    5.20   -0.05 -0.943396    5.35        140828
1   COTTO    2.06    2.08    2.04   -0.02 -0.961538    2.08       1884836
5     EPG    8.60    8.75    8.60   -0.15 -1.714286    8.75       2543845
8   Q-CON   10.80   11.00   10.70   -0.20 -1.818182   11.00        246541

[20 rows x 8 columns]

In [16]:
file_name = "StockQuotation (7).xlsx"
input_file = dts_path + file_name
df_PFREIT = pd.read_excel(input_file, header=9)
df_PFREIT = df_PFREIT[df_PFREIT['%Change'] != '-']
df_PFREIT[colu].sort_values(['%Change'],ascending=[False])

     Symbol  Last  High   Low Change   %Change  Open Total Volume
31    M-PAT  4.38   4.4   4.3   0.26   6.31068   4.3         1700
49     SSPF  7.15  7.15  7.15   0.15  2.142857  7.15          100
25  LHHOTEL  13.7  13.7  13.5    0.2  1.481481  13.5       126800
43     QHOP  2.94  2.94   2.9   0.04   1.37931   2.9        18300
0     AIMCG  5.35  5.35  5.25   0.05  0.943396   5.3       108580
..      ...   ...   ...   ...    ...       ...   ...          ...
39     POPF  11.6  11.7  11.6   -0.1 -0.854701  11.6       352700
5    BAREIT  10.9    11  10.9   -0.1 -0.909091    11       179454
21   IMPACT  13.9  14.1  13.9   -0.2  -1.41844  14.1       253564
9   CPNREIT  19.1  19.4  19.1   -0.3 -1.546392  19.4      1088208
57   URBNPF  1.96  1.96  1.95  -0.08 -3.921569  1.95         5700

[54 rows x 8 columns]

In [17]:
file_name = "StockQuotation (8).xlsx"
input_file = dts_path + file_name
df_TRANS = pd.read_excel(input_file, header=9)
df_TRANS = df_TRANS[df_TRANS['%Change'] != '-']
df_TRANS[colu].sort_values(['%Change'],ascending=[False])

    Symbol   Last   High    Low Change   %Change  Open Total Volume
17     NYT   3.58    3.6   3.46   0.12  3.468208  3.46      9244155
13    KIAT    0.5   0.51   0.49   0.01  2.040816  0.49      3785259
26    WICE   11.9     12   11.7    0.2  1.709402  11.7      4764194
21     RCL  30.75     31   30.5    0.5  1.652893  30.5      2057453
19     PRM    7.9    7.9    7.8    0.1  1.282051  7.85      4980032
..     ...    ...    ...    ...    ...       ...   ...          ...
7      BTS    8.4   8.45    8.4  -0.05 -0.591716   8.4     11151434
0      AAV   3.06   3.08   3.04  -0.02 -0.649351  3.08     47085814
1      AOT  73.75  74.25  73.75  -0.75 -1.006711    74     26206978
3        B    0.4   0.42    0.4  -0.01 -2.439024  0.41     35361935
6   BIOTEC   0.94      1   0.92  -0.07 -6.930693     1     88406217

[24 rows x 8 columns]

In [18]:
file_name = "StockQuotation (9).xlsx"
input_file = dts_path + file_name
df_ICT = pd.read_excel(input_file, header=9)
df_ICT = df_ICT[df_ICT['%Change'] != '-']
df_ICT[colu].sort_values(['%Change'],ascending=[False])

    Symbol   Last   High    Low Change    %Change   Open Total Volume
24     SDC   0.18   0.18   0.14   0.04  28.571429   0.15    456524753
26     SKY     23     23   18.4    1.2   5.504587   21.5     19491535
7   DTCENT   2.26   2.26   2.16    0.1    4.62963   2.18     14093380
11    INET   5.55   5.55    5.4    0.2   3.738318    5.4      1906384
1      AIT   6.75   6.85   6.65    0.1   1.503759    6.7      5803841
..     ...    ...    ...    ...    ...        ...    ...          ...
25     SIS     27  27.25  26.75  -0.25  -0.917431  27.25       136417
19    MFEC    8.1   8.25    8.1   -0.1  -1.219512    8.2       246614
8    FORTH     44   45.5   43.5  -0.75  -1.675978  45.25      4509083
18     JTS  47.25  48.25  47.25     -1  -2.072539     48      1686652
33     TWZ   0.07   0.08   0.07  -0.01      -12.5   0.08     11791949

[33 rows x 8 columns]

In [19]:
df = pd.concat([df_S100, df_sSET, df_CLMV, df_HD, df_THSI, df_WB, df_CONMAT, df_PFREIT, df_TRANS, df_ICT])
df.shape

(611, 16)

In [20]:
df.Symbol.nunique()

352

In [21]:
### First equals to latest published pdf file
df = df.drop_duplicates(subset='Symbol', keep='first')
df.shape

(352, 16)

In [22]:
df.rename(columns={col: col.replace(" ", "-") for col in df.columns}, inplace=True)
cols = 'Symbol Last High Low Total-Volume Open'.split()
df[cols].sort_values('Symbol',ascending=True)

     Symbol   Last   High    Low Total-Volume   Open
0       7UP   0.78   0.79   0.78      8119789   0.78
0       AAV   3.06   3.08   3.04     47085814   3.08
1       ACE   2.54   2.58   2.54     16419256   2.56
2    ADVANC  198.5  198.5  197.0      2401870  197.5
1       AGE   3.68   3.74   3.68      2442225   3.68
..      ...    ...    ...    ...          ...    ...
140    WICE   11.9   12.0   11.7      4764194   11.7
19     WIIK   1.84   1.88   1.84       305199   1.85
141    WORK   18.3   18.4   18.3       355565   18.4
142     XPG   1.44   1.46   1.44      7254638   1.46
143     ZEN   18.0   18.1   17.7       150500   18.0

[352 rows x 6 columns]

In [23]:
df.insert(1, 'Date', today)
colt = 'Symbol Date Last High Low Total-Volume Open'.split()
df[colt]

    Symbol        Date   Last   High    Low Total-Volume   Open
0      AAV  2023-02-03   3.06   3.08   3.04     47085814   3.08
1      ACE  2023-02-03   2.54   2.58   2.54     16419256   2.56
2   ADVANC  2023-02-03  198.5  198.5  197.0      2401870  197.5
3    AMATA  2023-02-03   20.4   20.6   20.4      5934269   20.5
4      AOT  2023-02-03  73.75  74.25  73.75     26206978   74.0
..     ...         ...    ...    ...    ...          ...    ...
23  SAMTEL  2023-02-03   6.85    7.2    6.8      2359901   6.85
24     SDC  2023-02-03   0.18   0.18   0.14    456524753   0.15
27    SVOA  2023-02-03    2.6   2.62   2.58       971610    2.6
28    SYMC  2023-02-03      6      6      6         1000      6
33     TWZ  2023-02-03   0.07   0.08   0.07     11791949   0.08

[352 rows x 7 columns]

In [24]:
file_name = "name-ttl.csv"
input_file = data_path + file_name
input_file

'../data/name-ttl.csv'

In [25]:
df_name = pd.read_csv(input_file, header=None, names=['Symbol'])
df_name.shape

(234, 1)

In [26]:
df_out = df[colt]
df_out.shape

(352, 7)

In [27]:
df_merge = pd.merge(df_name, df_out, on = 'Symbol', how='inner')
df_merge.shape

(193, 7)

In [28]:
file_name = "Price.csv"
output_file = data_path + file_name
osd_file = osd_path + file_name

df_merge.set_index("Symbol", inplace=True)
df_merge.to_csv(output_file, header=None)
df_merge.to_csv(osd_file, header=True)

### Call import price